body {
    background-color: #aaddff;
    min-height: 100vh;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}

.is-sparta {
    color: #9ecefc !important;
}

.button.is-sparta {
    background-color: #aaddff;
    border-color: transparent;
    color: #fff !important;
}

.button.is-sparta.is-outlined {
    background-color: transparent;
    border-color: #aaddff;
    color: #aaddff !important;
}

.modal-content {
    width: 600px;
    max-width: 80%;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.fa-heart-o:before {
    content: "\f08a";
    color: orangered;
}

.fa-heart:before {
    content: "\f004";
    color: orangered;
}

.like-num {
    color: orangered;
}

.navbar.is-fixed-top {
    height: 140px;

}

body.has-navbar-fixed-top,
.login-section {
    padding-top: 170px;
}

.navbar-brand {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.navbar-item {
    display: flex;
    flex-direction: column;
}

.navbar-item img {
    max-height: 4.5rem;
}

.navbar-title {
    font-size: 25px !important;
}

.comment-content {
    margin-top: 25px;
}

.comment-input {
    margin-bottom: 20px;
}

.main-image {
    width: 100vw;
    height: 600px;
    position: relative;
    top: -30px;
    background-image: url("../static/main.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-profile {
    position: relative;
    top: -30px;
}

.main-image strong {
    font-family: 'Stylish', sans-serif;
    font-size: 51px;
    color: #40f88e;
}

.comment-area {
    margin: 30px 10px 0 10px;
    display: none !important;
}

.comment-area__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.comment-area__profile-image {
    width: 55px;
}

.comment-area__user-name {
    font-size: 19px !important;
    position: relative;
    top: -30px;
    left: 11px;
}

.comment-area__comment {
    font-size: 18px;
    position: relative;
    top: 15px;
    left: -65px;
}

.comment-area__date {
    position: relative;
    right: -370px;
    font-size: 14px;
}

.active {
    display: block !important;
}

.pagination {
    margin-top: 20px;
    padding-bottom: 50px;
}

.pagination-list > li > a {
    background-color: #fff;
    color: #9ecefc;
    border: none;
    margin: 0 15px;
    font-size: 19px;
    border-radius: 50px;
}

.pagination-list > li > a:hover {
    color: #449bee;

}

.is-rounded {
    height: 70px;
}

